body{}

/***************header*****************/
header{
    background-color: #fbda00;
    height: 100vh;

}
nav{
    padding: 20px 0!important;
}
.nav-link{
    font-size: 22px;
    color: black;
    font-weight: 600;
    transition: 0.5s;
}
.nav-link:hover{
    
    color: white;
}
.inspiration-section{}
.inspire{
    padding-top: 50px;
}
h1{}
h6{
    font-size: 20px!important;
    margin: 20px 0!important;
}
p{
    color: #777;
}

.icons{

}
.icons ul{}
.icons ul li{}
.icons ul li a{
    font-size: 45px;
    color: black;
    padding-right: 25px;
}
.icons ul li a:hover{
 color: white;
}
.img-section{}
.phone{
    padding left: 30px;
}
.phone img{
    padding-left: 150px;
}

/*******************features********************/
.features-section{
    margin: 70px 0;
}
.features-heading{
    width: 700px;
}
.features{
    margin: 30px 0;
    padding: 10px;
    transition: 0.5s;
}
.features:hover{
    box-shadow: 0 2px 15px #7777779e;
    margin-top: 2px;
}
span{
    display: block;
    font-size: 40px;
}
h2{
 font-size: 1.8rem!important;
}
/****************footer******************/
footer{
 
    text-align: center;
 
    padding: 70px 0;
 
    background: #101010;
}
.footer-heading{
    width: 700px;
}
footer h1{
    color: #fbda00;
}
.submit-box{
 margin-top: 60px;
}
.form-inline{
    display: block!important;
}
.form-control{
    width: 500px !important;
    height: 50px !important;
}
.btn{
    background-color: black!important;
    border-color: white!important;
    width: 100px;
    height: 50px;
    font-size: 20px!important;
    font-weight: 500!important;
}
.btn:hover{
    background-color: #fbda00!important;
    color: black!important;
}
.social-icons{}
.social-icons ul{}
.social-icons ul li{
    padding: 0 20px;
    display: inline-block;
}
.social-icons ul li a{
    width: 45px;
    height: 45px;
    background-color: #fcdb00;
    line-height: 45px;
    font-size: 30px;
    display: inline-block;
    border-radius: 5px;
    color: #101010;
}
.social-icons ul li a:hover{
    border: 2px solid white;
    color: #fff;
}
.social-icons ul li a i{
    font-size: 30px;
}
.footer-content{}
footer p{
    color: #fff;
    margin-top: 20px;
}
.list-item{
    text-align: justify;
    margin: 80px 0;
}
.list-item h5{
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding-top: 5px;
}
.list-item ul {}
.list-item ul li{
    list-style: none;
}
.list-item ul li a{
    text-decoration: none;
    color: #fff;
}
.list-item ul li a:hover{
    color: #fbda00;
}
